<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Iniciando a API com a View Engine Handlebars!!</h1>
    <p class="col-md-8 fs-4">Using a series of utilities, you can create this
    jumbotron, just like the one in previous versions of Bootstrap. Check out
    the examples below for how you can remix and restyle it to your liking.
    </p>
    <a class="btn btn-dark btn-lg" href="{{ btnlinks.[0] }}" target="_blank">Handlebars Doc</a>
    <a class="btn btn-dark btn-lg" href="{{ btnlinks.[1] }}" target="_blank">Express Doc</a>
    <a class="btn btn-dark btn-lg" href="{{ btnlinks.[2] }}" target="_blank">Nodemon Doc</a>
  </div>
</div>